* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    background-color: white;
    padding: 15px;
    width: 20rem;
    border-radius: 10px;
}

.container-image {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container-title {
    text-align: center;
    font-size: 1.4rem;
}

.container-description {
    text-align: center;
    font-size: 1rem;
    color: hsl(216, 15%, 48%);
}